#maxlength{
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;
    top: 100px;
}
#yoright{
    background-color: rgb(122, 122, 116);
    height: 100%;
    width: 50%;
}
#yuileft{
    background-color: rgb(178, 176, 176);
    height: 100%;
    width: 50%;

}
